<div class=" sidebar_main_open sidebar_main_swipe">
  <!-- main header -->
  <%= render 'main/partials/header' %>
  <!-- main header end -->

  <!-- main sidebar -->
  <%= render 'main/partials/sidebar' %>
  <!-- main sidebar end -->

  <div id="page_content">
    <div id="page_content_inner">

      <h3 class="heading_b uk-margin-bottom">Dashboard</h3>

      <div class="md-card">
        <div class="md-card-content">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-1-1">
              Ut sit voluptas et animi non quidem distinctio tenetur est sunt sequi molestias doloremque sit in sint ut
              autem officia excepturi modi magnam voluptatibus dolor velit molestias ipsum veniam et non quo impedit
              voluptas et aut et in delectus in aut qui a incidunt in ut ab saepe iusto iure nihil sunt quia minima
              illum et explicabo iure tempore rerum magnam reprehenderit minima voluptas iure enim illum et voluptas sit
              dolorem dolores accusantium rerum quaerat esse occaecati aliquam sed ea sed rerum reiciendis nihil
              repellendus sint fuga ea id sint esse quod voluptas officia ut cum soluta neque aperiam autem quia fuga
              voluptas reprehenderit et ad velit quam aut quibusdam corporis aspernatur doloremque ea optio iusto eius
              dolorum illo quasi rerum ab doloremque at ea deserunt sit libero quia consequuntur aut reprehenderit
              officia expedita quas similique dolore quia consectetur eos eius incidunt quos nobis sed possimus eaque
              quia omnis facilis et nemo voluptates iusto porro possimus blanditiis voluptatem distinctio impedit est
              culpa et sapiente quae dolorem alias itaque eum quo voluptatibus nihil provident quaerat qui et dolorum
              veniam quia laborum odit quisquam corporis dolores culpa perferendis quibusdam recusandae dolor sint autem
              voluptas consequatur eligendi corporis incidunt ut ducimus at aspernatur et et dolores et non inventore
              sequi autem aut ratione nostrum accusamus deleniti explicabo nihil sunt ex mollitia sequi voluptatem
              voluptatem distinctio est voluptatem possimus dolores nisi quae molestiae vitae voluptatum veritatis
              deleniti doloremque vero non nobis omnis aut sed rerum velit quia rem ea enim nihil voluptatibus quo aut
              et voluptatem consequatur enim necessitatibus cumque reiciendis aspernatur omnis necessitatibus totam
              illum necessitatibus quo aspernatur pariatur ratione autem quis iste omnis est sunt eligendi distinctio.
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
