<div class=" sidebar_main_open sidebar_main_swipe">
  <!-- main header -->
  <%= render 'main/partials/header' %>
  <!-- main header end -->

  <!-- main sidebar -->
  <%= render 'main/partials/sidebar' %>
  <!-- main sidebar end -->
  <div id="page_content">
    <div id="page_content_inner">
      <h3 class="heading_b uk-margin-bottom">Applications
        <%= link_to 'Create New Application', new_application_path, class: 'md-btn md-btn-primary pull-right' %></h3>
      <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
          <div class="uk-overflow-container">
            <table class="uk-table uk-table-nowrap">
              <thead>
              <tr>
                <th class="uk-width-1-10 uk-text-center">User Image</th>
                <th class="uk-width-2-10">User Name</th>
                <th class="uk-width-2-10 uk-text-center">Order Number</th>
                <th class="uk-width-2-10 uk-text-center">Order Date</th>
                <th class="uk-width-1-10 uk-text-center">Status</th>
                <th class="uk-width-2-10 uk-text-center">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="uk-text-center"><img class="md-user-image"
                                                src="assets/img/avatars/avatar_01_tn.png" alt=""/>
                </td>
                <td>Pearlie Boyle</td>
                <td class="uk-text-center">100/2015</td>
                <td class="uk-text-center">31-03-1974</td>
                <td class="uk-text-center"><span class="uk-badge uk-badge-danger">Declined</span>
                </td>
                <td class="uk-text-center">
                  <a href="#"><i class="md-icon material-icons">&#xE254;</i></a>
                  <a href="#"><i class="md-icon material-icons">&#xE88F;</i></a>
                </td>
              </tr>
              <tr>
                <td class="uk-text-center"><img class="md-user-image"
                                                src="assets/img/avatars/avatar_02_tn.png" alt=""/>
                </td>
                <td>Jordon Barton</td>
                <td class="uk-text-center">82/2015</td>
                <td class="uk-text-center">25-10-1993</td>
                <td class="uk-text-center"><span class="uk-badge uk-badge-danger">Declined</span>
                </td>
                <td class="uk-text-center">
                  <a href="#"><i class="md-icon material-icons">&#xE254;</i></a>
                  <a href="#"><i class="md-icon material-icons">&#xE88F;</i></a>
                </td>
              </tr>
              <tr>
                <td class="uk-text-center"><img class="md-user-image"
                                                src="assets/img/avatars/avatar_03_tn.png" alt=""/>
                </td>
                <td>Ardith Price</td>
                <td class="uk-text-center">82/2015</td>
                <td class="uk-text-center">08-01-2005</td>
                <td class="uk-text-center"><span class="uk-badge uk-badge-primary">New</span></td>
                <td class="uk-text-center">
                  <a href="#"><i class="md-icon material-icons">&#xE254;</i></a>
                  <a href="#"><i class="md-icon material-icons">&#xE88F;</i></a>
                </td>
              </tr>
              <tr>
                <td class="uk-text-center"><img class="md-user-image"
                                                src="assets/img/avatars/avatar_04_tn.png" alt=""/>
                </td>
                <td>Modesto DuBuque</td>
                <td class="uk-text-center">20/2015</td>
                <td class="uk-text-center">01-04-1976</td>
                <td class="uk-text-center"><span class="uk-badge uk-badge-danger">Declined</span>
                </td>
                <td class="uk-text-center">
                  <a href="#"><i class="md-icon material-icons">&#xE254;</i></a>
                  <a href="#"><i class="md-icon material-icons">&#xE88F;</i></a>
                </td>
              </tr>
              <tr>
                <td class="uk-text-center"><img class="md-user-image"
                                                src="assets/img/avatars/avatar_05_tn.png" alt=""/>
                </td>
                <td>Berneice Crooks</td>
                <td class="uk-text-center">6/2015</td>
                <td class="uk-text-center">25-10-1975</td>
                <td class="uk-text-center"><span class="uk-badge uk-badge-success">Shipped</span>
                </td>
                <td class="uk-text-center">
                  <a href="#"><i class="md-icon material-icons">&#xE254;</i></a>
                  <a href="#"><i class="md-icon material-icons">&#xE88F;</i></a>
                </td>
              </tr>
              <tr>
                <td class="uk-text-center"><img class="md-user-image"
                                                src="assets/img/avatars/avatar_06_tn.png" alt=""/>
                </td>
                <td>Darian Haley</td>
                <td class="uk-text-center">58/2015</td>
                <td class="uk-text-center">08-12-2000</td>
                <td class="uk-text-center"><span class="uk-badge">Accepted</span></td>
                <td class="uk-text-center">
                  <a href="#"><i class="md-icon material-icons">&#xE254;</i></a>
                  <a href="#"><i class="md-icon material-icons">&#xE88F;</i></a>
                </td>
              </tr>
              <tr>
                <td class="uk-text-center"><img class="md-user-image"
                                                src="assets/img/avatars/avatar_07_tn.png" alt=""/>
                </td>
                <td>Wallace Konopelski</td>
                <td class="uk-text-center">5/2015</td>
                <td class="uk-text-center">07-05-1989</td>
                <td class="uk-text-center"><span class="uk-badge uk-badge-danger">Declined</span>
                </td>
                <td class="uk-text-center">
                  <a href="#"><i class="md-icon material-icons">&#xE254;</i></a>
                  <a href="#"><i class="md-icon material-icons">&#xE88F;</i></a>
                </td>
              </tr>
              <tr>
                <td class="uk-text-center"><img class="md-user-image"
                                                src="assets/img/avatars/avatar_08_tn.png" alt=""/>
                </td>
                <td>Betty Rosenbaum</td>
                <td class="uk-text-center">74/2015</td>
                <td class="uk-text-center">30-10-1988</td>
                <td class="uk-text-center"><span class="uk-badge uk-badge-danger">Declined</span>
                </td>
                <td class="uk-text-center">
                  <a href="#"><i class="md-icon material-icons">&#xE254;</i></a>
                  <a href="#"><i class="md-icon material-icons">&#xE88F;</i></a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <ul class="uk-pagination uk-margin-medium-top">
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
            <li class="uk-active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><span>&hellip;</span></li>
            <li><a href="#">10</a></li>
            <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>